{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
    <!-- 404 -->
    <section class="comming section-padding">
        <div class="v-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>404</h1>
                    </div>
                </div>
                <div class="row text-center mb-15">
                    <div class="col-md-12">
                        <h2>{% trans 'Not Found 404' %}</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 offset-md-3 text-center">
                        <p>{% trans 'The page you are looking for was moved, removed, renamed or never existed.' %}</p>
                        <form>
                            <input type="text" name="search" placeholder="{% trans 'Search' %}" required>
                            <button><i class="ti-search"></i> Search</button>
                        </form>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="go-back col-md-12">
                        <a href="{% url 'tour:index' %}"> <span><i class="ti-arrow-left" aria-hidden="true"></i></span>&nbsp; {% trans 'Back To Home' %} </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
