{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Global Big Tour Agency</title>
    <link rel="shortcut icon" href="{% static '' %}img/favicon.png"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap">
    <link rel="stylesheet" href="{% static '' %}css/plugins.css"/>
    <link rel="stylesheet" href="{% static '' %}css/style.css"/>
</head>
<body>
<!-- Preloader -->
<div class="preloader-bg"></div>
<div id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader"><span></span></div>
    </div>
</div>
<!-- Progress scroll totop -->
<div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="{% url 'tour:index' %}">
                <img src="{% static 'img/logo/global.svg' %}" class="logo-img" alt="">
            </a>
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="ti-menu"></i></span>
        </button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a
                        class="nav-link fs-5 fw-bold {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                        href="{% url 'tour:index' %}">Home</a></li>
                <li class="nav-item"><a
                        class="nav-link fs-5 fw-bold {% if request.resolver_match.url_name == 'about_us' %}active{% endif %}"
                        href="{% url 'about:about_us' %}">{% trans 'About' %}</a></li>
                <li class="nav-item"><a
                        class="nav-link fs-5 fw-bold {% if request.resolver_match.url_name == 'article_list' %}active{% endif %}"
                        href="{% url 'article:article_list' %}">{% trans 'Article' %}</a></li>
                <li class="nav-item"><a
                        class="nav-link fs-5 fw-bold {% if request.resolver_match.url_name == 'tour_list' %}active{% endif %}"
                        href="{% url 'tour:tour_list' %}">{% trans 'Tours' %}</a></li>
                <!-- Language Selector -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" href="#" id="languageDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% get_current_language as current_language %}
                        {% get_language_info for current_language as lang %}
                        <i class="ti ti-world fs-6 me-1"></i>
                        {{ lang.code|upper }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        {% get_available_languages as languages %}
                        {% get_current_language as current_language %}
                        {% for language in languages %}
                            <li><a class="dropdown-item {% if language.0 == current_language %}active{% endif %}"
                                   href="/{{ language.0 }}{{ request.get_full_path|slice:'3:' }}">{{ language.1 }}</a>
                            </li>
                        {% endfor %}
                        <!-- Add more languages as needed -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

<!-- Testimonials -->
<section class="testimonials">
    <div class="background bg-img bg-fixed section-padding pb-0" data-background="{% static '' %}img/slider/15.jpg"
         data-overlay-dark="5">
        <div class="container">
            <div class="row">
                <!-- Call Now  -->
                <div class="col-md-5 mb-30 mt-30">
                    <p><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i
                            class="star-rating"></i><i class="star-rating"></i></p>
                    <h5>{% trans 'We Provide Top Destinations Especially For You Book Now and Enjoy!' %}</h5>
                    <div class="phone-call mb-10">
                        <div class="icon color-1"><span class="flaticon-phone-call"></span></div>
                        <div class="text">
                            <p class="color-1">Call Now</p> <a class="color-1"
                                                               href="tel:{{ about.phone_number }}">{{ about.phone_number }}</a>
                        </div>
                    </div>
                    <p><i class="ti-check"></i><small>{% trans "Call us, it's toll-free." %}</small></p>
                </div>
                <!-- Booking From -->
                <div class="col-md-5 offset-md-2">
                    <div class="testimonials-box">
                        <div class="head-box">
                            <h6>Testimonials</h6>
                            <h4>Travelers Reviews</h4>
                        </div>
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <p></p>
                                <div class="info">
                                    <div class="author-img"><img src="{% static '' %}img/team/04.png" alt=""></div>
                                    <div class="cont">
                                        <div class="rating"><i class="star active"></i> <i class="star active"></i> <i
                                                class="star active"></i> <i class="star active"></i> <i
                                                class="star active"></i></div>
                                        <h6>Nolan White</h6> <span>Guest review</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients -->
<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="owl-carousel owl-theme">
                    <div class="clients-logo">
                        <a href="#"><img src="{% static '' %}img/clients/1.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#"><img src="{% static '' %}img/clients/2.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#"><img src="{% static '' %}img/clients/3.png" alt=""></a>
                    </div>
                    <div class="clients-logo">
                        <a href="#"><img src="{% static '' %}img/clients/4.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer clearfix">
    <div class="container">
        <!-- First footer -->
        <div class="first-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="links dark footer-contact-links">
                        <div class="footer-contact-links-wrapper">
                            <div class="footer-contact-link-wrapper">
                                <div class="image-wrapper footer-contact-link-icon">
                                    <div class="icon-footer"><i class="flaticon-phone-call"></i></div>
                                </div>
                                <div class="footer-contact-link-content">
                                    <h6>{% trans 'Call us' %}</h6>
                                    <p>{{ about.phone_number }}</p>
                                </div>
                            </div>
                            <div class="footer-contact-links-divider"></div>
                            <div class="footer-contact-link-wrapper">
                                <div class="image-wrapper footer-contact-link-icon">
                                    <div class="icon-footer"><i class="flaticon-message"></i></div>
                                </div>
                                <div class="footer-contact-link-content">
                                    <h6>{% trans 'Write to us' %}</h6>
                                    <p>globalbigtourism@gmail.com</p>
                                </div>
                            </div>
                            <div class="footer-contact-links-divider"></div>
                            <div class="footer-contact-link-wrapper">
                                <div class="image-wrapper footer-contact-link-icon">
                                    <div class="icon-footer"><i class="flaticon-placeholder"></i></div>
                                </div>
                                <div class="footer-contact-link-content">
                                    <h6>{% trans 'Address' %}</h6>
                                    <p>{% trans "Toshkent, Bekabod, Nurli yo`l MFY, Buyuk Ipak yo`li 2/56" %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second footer -->
        <div class="second-footer">
            <div class="row">
                <!-- about & social icons -->
                <div class="col-md-4 widget-area">
                    <div class="widget clearfix">
                        <div class="footer-logo"><img class="img-fluid" src="{% static '' %}img/logo/light-tour.svg"
                                                      alt="">
                        </div>
                        <div class="widget-text">
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li><a href="https://www.instagram.com/global.tour24/"><i class="ti-instagram"></i></a>
                                    </li>
                                    <li><a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                             viewBox="0 0 25 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"/>
                                        </svg>
                                        </a></li>
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="https://www.youtube.com/@Global.tour2024"><i
                                            class="ti-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- quick links -->
                <div class="col-md-3 offset-md-1 widget-area">
                    <div class="widget clearfix usful-links">
                        <h3 class="widget-title">{% trans 'Quick Links' %}</h3>
                        <ul>
                            <li><a class="fw-bold" href="{% url 'tour:index' %}">Home</a></li>
                            <li><a class="fw-bold" href="{% url 'about:about_us' %}">{% trans 'About' %}</a></li>
                            <li><a class="fw-bold" href="{% url 'tour:tour_list' %}">{% trans 'Tour Plan' %}</a></li>
                            <li><a class="fw-bold" href="{% url 'article:article_list' %}">{% trans 'Blog' %}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- subscribe -->
                <div class="col-md-4 widget-area">
                    <div class="widget clearfix">
                        <h3 class="widget-title">{% trans 'Subscribe' %}</h3>
                        <p>{% trans 'Sign up for our monthly blog letter to stay informed about travel and tours' %}</p>
                        <div class="widget-newsletter">
                            <form action="#">
                                <input type="email" placeholder="{% trans 'Email Address' %}" required>
                                <button type="submit">{% trans 'Send' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom footer -->
        <div class="bottom-footer-text">
            <div class="row copyright">
                <div class="col-md-12">
                    <p class="mb-0">©2024 All rights reserved. Developed by <a href="https://husanibragimov.uz">Husan
                        Ibragimov</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    wind.on("scroll", function () {
        var bodyScroll = wind.scrollTop(),
            navbar = $(".navbar"),
            logo = $(".navbar .logo> img");

        if (bodyScroll > 100) {
            navbar.addClass("nav-scroll");
            logo.attr("src", "{% static 'img/logo/global-tour.svg' %}");
        } else {
            navbar.removeClass("nav-scroll");
            logo.attr("src", "{% static 'img/logo/global-tour.svg' %}");
        }
    });
</script>

<!-- jQuery -->
<script src="{% static '' %}js/jquery-3.6.3.min.js"></script>
<script src="{% static '' %}js/jquery-migrate-3.0.0.min.js"></script>
<script src="{% static '' %}js/modernizr-2.6.2.min.js"></script>
<script src="{% static '' %}js/imagesloaded.pkgd.min.js"></script>
<script src="{% static '' %}js/jquery.isotope.v3.0.2.js"></script>
<script src="{% static '' %}js/pace.js"></script>
<script src="{% static '' %}js/popper.min.js"></script>
<script src="{% static '' %}js/bootstrap.min.js"></script>
<script src="{% static '' %}js/scrollIt.min.js"></script>
<script src="{% static '' %}js/jquery.waypoints.min.js"></script>
<script src="{% static '' %}js/owl.carousel.min.js"></script>
<script src="{% static '' %}js/jquery.stellar.min.js"></script>
<script src="{% static '' %}js/jquery.magnific-popup.js"></script>
<script src="{% static '' %}js/YouTubePopUp.js"></script>
<script src="{% static '' %}js/select2.js"></script>
<script src="{% static '' %}js/datepicker.js"></script>
<script src="{% static '' %}js/jquery.counterup.min.js"></script>
<script src="{% static '' %}js/smooth-scroll.min.js"></script>
<script src="{% static '' %}js/custom.js"></script>
</body>
<!-- Mirrored from duruthemes.com/demo/html/travol/multipage-slider/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Jul 2024 16:46:08 GMT -->
</html>