{% extends 'base.html' %}
{% load static i18n humanize %}

{% block content %}
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="6"
         data-background="{% static '' %}img/slider/2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>Travel Countries</h5>
                    <h1>Popular <span>Destination</span></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Tours 3 -->
    <div class="tours3 section-padding bg-lightnav">
        <div class="container">
            <div class="row">
                {% for tour in object_list %}
                    <div class="col-md-4">
                        <div class="square-flip">
                            <div class="square bg-img" data-background="{{ tour.galleries.first.image.url }}"><span
                                    class="category"><a href="#">{{ tour.country }}</a></span>
                                <div class="square-container d-flex align-items-end justify-content-end">
                                    <div class="box-title">
                                        <h4>{{ tour.name }}</h4>
                                        <h6 class="fw-bold">{{ tour.price|intcomma }} UZS</h6>
                                    </div>
                                </div>
                                <div class="flip-overlay"></div>
                            </div>
                            <div class="square2 bg-white">
                                <div class="square-container2">
                                    <h4>{{ tour.name }}</h4>
                                    <h6>{{ tour.price|intcomma }} UZS</h6>
                                    {#                                    <p>{{ tour.description|safe }}</p>#}
                                    <div class="row tour-list mb-30">
                                        <div class="col col-md-6">
                                            <ul>
                                                <li><i class="ti-time"></i> {{ tour.duration }}</li>
                                                <li><i class="ti-user"></i> {{ tour.group }}+</li>
                                            </ul>
                                        </div>
                                        <div class="col col-md-6">
                                            <ul>
                                                <li><i class="ti-location-pin"></i> {{ tour.country }}</li>
                                                <li><i class="ti-face-smile"></i> 10 Super</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-line"><a
                                            href="{{ tour.get_absolute_url }}">{% trans 'Tour details' %}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'pages/pagination.html' %}
    </div>
{% endblock %}
