{% extends 'base.html' %}
{% load static i18n humanize %}

{% block content %}
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="2"
                 data-background="{% static '' %}img/slider/15.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="2"
                 data-background="{% static '' %}img/slider/16.jpg"></div>
            <div class="text-center item bg-img" data-overlay-dark="2"
                 data-background="{% static '' %}img/slider/17.jpg"></div>
        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
    <!-- Tour Content -->
    <section class="tour-page section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-30">
                    <div class="section-subtitle">Travel Agency</div>
                    <div class="section-title mb-0">Soneva Jani <span>Maldives</span></div>
                    <div class="rating mb-30"><i class="star active"></i> <i class="star active"></i> <i
                            class="star active"></i> <i class="star active"></i> <i class="star active"></i>

                    </div>
                    <div class="tour-page head-icon">
                        <p><i class="ti-time"></i> {{ tour.duration }}</p>
                        <p><i class="ti-user"></i> {% trans 'Group' %}: {{ tour.group }}</p>
                        <p><i class="ti-location-pin"></i> {{ tour.country }}</p>
                        <p><i class="ti-face-smile"></i> 10 {% trans 'Super' %}</p>
                    </div>
                    {{ tour.description|safe }}
                    <br>
                    <br>
                    <!-- Gallery -->
                    <h6 class="mb-0">Tour Gallery</h6>
                    <div class="row">
                        {% for gallery in tour.galleries.all %}
                            <div class="col-md-4 gallery-item">
                                <a href="{{ gallery.image.url }}" title="" class="img-zoom">
                                    <div class="gallery-box">
                                        <div class="gallery-img"><img src="{{ gallery.image.url }}"
                                                                      class="img-fluid mx-auto d-block" alt="work-img">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                    <!-- FAQ's -->
                    <h6>Tour Plan</h6>
                    <ul class="accordion-box clearfix">
                        {% if tour.plans|length > 0 %}
                            {% for plan in tour.plans.all %}
                                <li class="accordion block">
                                    <div class="acc-btn">{{ plan.name }}</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">
                                                {{ plan.description|safe }}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="accordion block">
                                <div class="acc-btn">{% trans 'No plans yet' %}</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">
                                            {% trans 'No plans yet' %} :(
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- sidebar -->
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="right-sidebar">
                            <div class="right-sidebar item">
                                <h3><span class="right-sidebar item__from">From</span>
                                    {{ tour.price|intcomma }} UZS</h3>
                                <form method="post" class="right-sidebar item-form" action="#">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <input type="hidden" name="tour_id" value="{{ tour.id }}">
                                            <input name="name" type="text" placeholder="{% trans 'Full Name' %}"
                                                   required>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input name="phone_number" type="text"
                                                   placeholder="{% trans 'Phone Number' %}" required>
                                        </div>
                                        <div class="col-md-12 form-group input1_inner">
                                            <input type="text" class="form-control input datepicker"
                                                   placeholder="{% trans 'Travel Date' %}" required>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input name="people" type="text" placeholder="{% trans 'People' %}"
                                                   required>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <textarea name="message" id="message" cols="30" rows="4"
                                                      placeholder="{% trans 'Your Enquiry' %}"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="butn-dark" type="submit"><a
                                                    href="#0"><span>{% trans 'Book Now' %}</span></a></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
